{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Photoshelter Connect plugin for Craft CMS 3.x
 *
 * Photoshelter Connect Settings.twig
 *
 * @author    Jessica D'Amico
 * @copyright Copyright (c) 2018 Jessica D'Amico
 * @link      justjess.com
 * @package   PhotoshelterConnect
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("justjess\\photoshelterconnect\\assetbundles\\photoshelterconnect\\PhotoshelterConnectAsset") %}

{{ forms.textField({
    label: 'PhotoShelter API Key',
    required: true,
    instructions: 'Enter your PhotoShelter API Key. You can get an API key from PhotoShelter here: <a href="//http://www.photoshelter.com/developer/">http://www.photoshelter.com/developer/</a>',
    id: 'apiKey',
    name: 'apiKey',
    value: settings['apiKey']})
}}
{{ forms.textField({
    label: 'PhotoShelter User ID',
    required: true,
    instructions: 'Enter Your PhotoShelter User ID - it's also your subdomain. Ex: http://<b>justjess</b>.photoshelter.com/',
    id: 'userId',
    name: 'userId',
    value: settings['userId']})
}}